project/QueueServiceTest/QueueServiceTest/Connected Services/CalQueueService/CallService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://callSystem.service/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://callSystem.service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://callSystem.service/">
      <s:element name="callAndRecalPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="counterID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="callAndRecalPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callAndRecalPatientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="callAndRecalPatientSoapIn">
    <wsdl:part name="parameters" element="tns:callAndRecalPatient" />
  </wsdl:message>
  <wsdl:message name="callAndRecalPatientSoapOut">
    <wsdl:part name="parameters" element="tns:callAndRecalPatientResponse" />
  </wsdl:message>
  <wsdl:portType name="CallServiceSoap">
    <wsdl:operation name="callAndRecalPatient">
      <wsdl:input message="tns:callAndRecalPatientSoapIn" />
      <wsdl:output message="tns:callAndRecalPatientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallServiceSoap" type="tns:CallServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="callAndRecalPatient">
      <soap:operation soapAction="http://callSystem.service/callAndRecalPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallServiceSoap12" type="tns:CallServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="callAndRecalPatient">
      <soap12:operation soapAction="http://callSystem.service/callAndRecalPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallService">
    <wsdl:port name="CallServiceSoap" binding="tns:CallServiceSoap">
      <soap:address location="http://192.168.0.106:8081/CallService.asmx" />
    </wsdl:port>
    <wsdl:port name="CallServiceSoap12" binding="tns:CallServiceSoap12">
      <soap12:address location="http://192.168.0.106:8081/CallService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>